.ant-col-24.ant-form-item-label {
  text-align: left;
}

.ant-input-affix-wrapper {
  padding: 0;
}

.ant-col-24.ant-form-item-label {
  padding: 0;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper-focused {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: none;
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-input-affix-wrapper > span {
  background-color: #e5e7eb;
  border: 2px solid #fff;
  margin: 0;
  padding: 2px;
}

.ant-input-affix-wrapper {
  background: transparent;
}

.ant-col-24.ant-form-item-label > label {
  font-size: 1.4rem;
}
