@media (min-width: 0px) {
  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(1) {
    font-size: 1.6rem;
    font-family: 'Calibre';
  }
  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(2) {
    font-size: 1.4rem;
    font-family: 'Calibre';
  }
  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(3) {
    font-size: 1.2rem;
    font-family: 'Calibre';
  }
}

@media (min-width: 1000px) {
  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(1) {
    font-size: 1.6rem;
    font-family: 'Calibre';
  }
  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(2) {
    font-size: 2rem;
    font-family: 'Calibre';
  }
  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(3) {
    font-size: 1.2rem;
    font-family: 'Calibre';
  }
}
