@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
}

@media (min-width: 168px) {
  .thumbnailTitle > a {
    padding: 0;
  }
  .thumbnailTitle > a > div {
    font-size: 1.2rem;
    margin: 0;
    text-align: left;
    color: black;
    font-family: 'Calibre-Regular' !important;
    font-weight: 700;
  }
  .thumbnailContent {
    text-align: justify;
    font-size: 1rem
  }
}

@media (min-width: 1024px) {
  .thumbnailTitle > a > div {
    font-size: 1.8rem;
    margin: 0;
    text-align: left;
    color: black;
    font-family: 'Calibre-Regular' !important;
    font-weight: 600;
    padding: 0;
  }
  .thumbnailContent {
    text-align: justify;
    font-size: 1rem
  }
}

.thumbnail.visible {
  opacity: 1;
}
