@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  // opacity: 0;

  // p {
  //   font-size: 1.2rem;
  //   line-height: 1.4;
  // }
}

@media (min-width: 168px) {
  .thumbnailTitle {
    font-size: 1.4rem;
    margin: 0;
    text-align: left;
  }
  .thumbnailContent {
    text-align: justify;
    font-size: 1rem
  }
}

@media (min-width: 1024px) {
  .thumbnailTitle {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }
  .thumbnailContent {
    text-align: justify;
    font-size: 1rem
  }
}

.thumbnail.visible {
  opacity: 1;
}
