@import '../../styles/variables.scss';

body.light .thumbnail:hover {
  text-shadow: none;
}

.thumbnail {
  display: block;
  padding: 0;
  margin-bottom: 2vw;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
}
