body.dark {
  background-color: $dark-background-color;
  color: $dark-light-font-color;

  .ant-col-24.ant-form-item-label > label {
    color: #fff;
  }

  .postTitle {
    color: $dark-link-hover-color;
  }

  .ant-btn-primary {
    background: $dark-highlighter;
    color: #fff;
    border: 0;
  }

  .ant-btn-primary:hover {
    background: $dark-highlighter;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .ant-input-affix-wrapper {
    border: 0;
  }

  .ant-input-affix-wrapper > span {
    background-color: $dark-background-color;
    border: 2px solid $dark-highlighter !important;
    margin: 0;
    padding: 2px;
    color: #fff;
    border: 0;
  }

  .ant-input {
    background: $dark-highlighter;
    border: 0;
    padding: 5px;
    color: #fff;
    font-size: 1rem;
    border-radius: 0;
  }

  div > .layout-content > hr {
    height: 1px;
    margin-top: 10vh;
    background: $light-highlighter;
  }

  .top {
    background-color: $dark-background-color;
  }

  .ant-statistic-content-value-int {
    color: #fff;
  }

  .ant-statistic-content-suffix > svg {
    fill: $dark-lightest-font-color;
  }

  .ant-menu-horizontal > .ant-menu-item a {
    color: white;
  }

  a {
    color: white;
  }

  .category-container {
    // background-color: $dark-background-color;
    .item {
      background: $dark-highlighter;
      &[aria-selected='true'] {
        font-weight: bolder;
        border: 2px solid $dark-light-font-color;
      }
      div {
        font-size: 1rem;
      }
    }
  }

  // post
  .posts > h1 > a {
    color: #99dbcf;
  }

  blockquote {
    border-left: 4px solid rgba(255, 255, 255, 0.822);
  }

  h1,
  h2 {
    border-bottom-color: rgba(255, 255, 255, 0.3) !important;
  }

  h1,
  h2,
  h3,
  p {
    color: $light-background-color !important;
  }

  .archives > .thumbnail-container {
    margin-top: 5vh;
  }

  .ant-card-body {
    padding: 0;
  }

  .ant-card-bordered {
    border: none;
  }

  .header > div,
  .thumbnailContent {
    color: $dark-light-font-color !important;
  }

  .thumbnailTitle > a > h2:hover {
    color: $secondary-dark-link-color !important;
  }

  .ant-typography a {
    color: $primary-link-color;
    text-decoration: underline;
  }

  .ant-typography:is(div) {
    color: $dark-light-font-color;
  }

  .ant-typography a:hover {
    color: #38365d;
    text-decoration: underline;
  }

  .ant-tag {
    background-color: #111d2d;
    border: 1px solid $dark-background-color;
    color: white;
    font-size: 1rem;
    font-family: 'Calibre';
  }

  .tile > .ant-card-body > .ant-row > .ant-col > p > button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
  }

  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(1) > a:hover {
    color: $secondary-dark-link-color;
  }

  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(3) {
    font-size: 1.2rem;
    font-family: 'Calibre';
    color: $dark-light-font-color !important;
  }

  .ant-timeline-item-head.ant-timeline-item-head-custom.ant-timeline-item-head-blue {
    background: transparent;
  }

  .footer {
    h3,
    h4,
    h6,
    h5,
    a {
      color: white !important;
    }
    a > div > span {
      color: $dark-lightest-font-color;
    }
  }

  .language-text {
    background-color: transparent;
    color: white;
  }

  .thumbnailTitle > a > div {
    color: #fff;
  }

  /* Code blocks */
  pre[class*='language-'] {
    padding: 1.2em;
    margin: 1.5em 0;
    overflow: auto;
    background-color: #111d2d;
  }

  .navigator {
    a {
      background-color: #323486;
      color: white;
    }
  }
  td {
    border-bottom: 1px solid #eee;
  }

  .search > .ant-input-search,
  .search > .ant-input-search > input {
    background-color: #e2e2e2 !important;
  }

  .search > .ant-input-suffix > div {
    background-color: #00ffff;
    padding: 1px;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    color: #737373;
  }

  .search-container > div > div {
    background: #353e86 !important;
    border: 1px solid transparent !important;
  }

  .search-container > div > div > div > div > .ant-row {
    background: transparent !important;
    color: #fff !important;
    border-bottom: 1px solid #fff !important;
  }

  .navigation {
    background: $dark-background-color;
    a:hover {
      color: $dark-link-hover-color;
    }
  }

  .switch-container > label > svg {
    background: $secondary-dark-link-color;
    fill: #051f28;
  }

  .hamburger-menu {
    background: $dark-link-hover-color;
    fill: #051f28;
  }

  .search-container > div > div > div > ol > a > div > p > span > mark {
    background: #fff !important;
    color: $primary;
    border-radius: 4px;
    padding: 0.1em !important;
  }
}
