body.dark {
  background-color: $dark-background-color;
  text-shadow: $dark-text-shadow;
  color: $dark-light-font-color;

  .top {
    background-color:$dark-background-color;
  }

  a {
    color: white;
  }

  .bio {
    .author-name-content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-link-color;
    }
  }

  .category-container {
    border-top: 1px solid $dark-category-border-color;
    border-bottom: 1px solid $dark-category-border-color;
    border-right: 6px solid $dark-category-border-color;
    border-left: 6px solid $dark-category-border-color;
    background-color: $dark-category-background-color;
    .item {
      border: 1px solid $dark-category-border-color;
      background-color: $dark-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      a {
        color: $dark-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid $dark-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $dark-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    h3 {
      color: $dark-light-font-color;
    }
    p {
      color: $dark-middle-font-color;
    }
    &:hover {
      text-shadow: $dark-hover-text-shadow;
    }
  }

  // post
  blockquote {
    border-left: 4px solid rgba(255, 255, 255, 0.822);
  }

  h1,
  h2 {
    border-bottom-color: rgba(255, 255, 255, 0.3) !important;
  }

  h1,
  h2,
  h3, p {
    color: $dark-light-font-color !important;
  }

  .tile > .ant-card-body > .ant-row > .ant-col > p > button {
    background-color: #F6B6CC;
    border: 1px solid #F6B6CC;
    color: black;
  }

  .posts > p > a {
    background-color: #F6B6CC;
    border: 1px solid #F6B6CC;
    color: black;
    padding: 5px;
    border-radius: 2px;
  }

  .dark > .ant-card-body, .dark {
    background-color: $dark-background-color;
    color: $dark-light-font-color;
  }

  .footer {
    h3, svg, h6, h5, a {
      color: #F48EB1 !important;
      fill: #F48EB1 !important;
    }
    a {
      color: $dark-lightest-font-color;
    }
    background-color: #3B3831;
  }

  .ant-card-bordered {
    background: transparent;
    border: none;
  }

  .ant-card-meta-title {
    color: 'white' !important;
  }

  .ant-btn-ghost > a {
    color: white;
    text-decoration: none;
  }

  .ant-dropdown > .ant-dropdown-menu > .ant-dropdown-menu-item {
    background: $dark-background-color;
  }

  .ant-dropdown-menu {
    padding: 0;
  }

  .ant-dropdown > .ant-dropdown-menu > .ant-dropdown-menu-item > a {
    color: white;
    text-decoration: none;
  }

  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
  td {
    border-bottom: 1px solid #eee;
  }
}
