body.light {
  background-color: $light-background-color;
  text-shadow: $light-text-shadow;

  .track-container > .track > .ant-card-body > a > h1:hover {
    color: $link-hover-color;
  }

  .layout-content > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) {
    margin-top: 4vh;
    margin-bottom: 6vh;
    color: $light-blog-info !important;
    font-weight: 300;
  }

  // home
  .home-header {
    color: $dark-gray;
  }

  .header > h1 > a {
    color: $link-hover-color;
  }

  .header > h1 > a:hover {
    color: $link-hover-color;
  }

  .thumbnail-wrapper > .ant-row > .ant-col > a > h2:hover {
    color: $link-hover-color;
  }

  a:not(.rf) {
    color: $dark-background-color;
    text-decoration: underline;
  }

  div.layout-content div div p a,
  .globalLink {
    padding: 2px 0 0 2px;
    color: inherit !important;
    text-decoration: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    background: #e0f9ed;
    font-size: inherit !important;
  }

  div.layout-content div div p a:hover,
  .globalLink:hover {
    background: $secondary-dark-link-color;
    border-bottom: 1px solid #1a1a1a !important;
    text-decoration-color: $secondary-text-color !important;
  }

  div > .layout-content > hr {
    height: 1px;
    margin-top: 10vh;
    background: $light-highlighter;
  }

  .project > a > .ant-card > div > div > h1:hover {
    color: $link-hover-color;
  }

  .ant-btn-primary {
    background: #99dbcf;
    color: #000;
    border: 0;
  }

  .ant-input {
    padding: 5px;
    color: #000;
    font-size: 1rem;
    background: #fff;
  }

  .ant-tag {
    background-color: $light-highlighter;
    color: #000;
    font-size: 1rem;
    font-family: 'Calibre';
  }

  .ant-form.ant-form-horizontal
    > .ant-form-item
    > .ant-form-item-label
    > label {
    color: #598669;
    font-weight: 600;
  }

  .navigation {
    .nav-menu {
      a {
        color: $light-background-color;
        opacity: $high-em;
      }
      a:hover {
        color: $link-hover-color;
        opacity: $high-em;
      }
      .active {
        color: $link-hover-color;
      }
    }
  }

  .top {
    background-color: #fff;
  }

  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(1) > a {
    color: $primary;
    opacity: $high-em;
  }

  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(1) > a:hover {
    color: $link-hover-color;
  }

  .tile > .ant-card-body > .ant-row > .ant-col > p:nth-child(3) {
    color: #4b5563;
  }

  .category-container {
    font-family: 'Calibre';
    .item {
      background: $light-highlighter;
      a {
        font-family: 'Calibre';
        font-size: 1.2rem;
      }
      &[aria-selected='true'] {
        border: 2px solid #38365d;
        font-weight: bold;
        font-family: 'Calibre';
        font-size: 1.2rem;
      }
      &[aria-selected='true'] a {
        font-family: 'Calibre';
        font-size: 1.2rem;
      }
      div {
        font-size: 1rem;
      }
    }
  }

  .ant-list-items > li a span:hover {
    color: $link-hover-color;
  }

  .ant-card-bordered {
    border: none;
  }

  .ant-card-body {
    padding: 0;
  }

  .ant-typography {
    color: $primary;
  }

  .ant-typography:is(div) {
    color: $secondary-text-color;
  }

  .ant-typography a {
    // color: $primary-link-color;
    text-decoration: underline;
  }

  .ant-typography a:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  .resp-sharing-button {
    color: white;
  }

  /* Code blocks */
  pre[class*='language-'] {
    padding: 1.2em;
    margin: 1.5em 0;
    overflow: auto;
    background-color: #f6f8fa;
    border: 1px solid #d1d1d1;
  }

  .language-text {
    background-color: #fffae0;
    font-size: 1.2rem;
    color: rgb(65, 65, 65);
  }

  .gatsby-highlight > pre > code {
    color: rgb(27, 26, 26);
    background-color: #f8f8f8;
    font-size: 1.2rem;
  }

  .thumbnailContent {
    color: $secondary-text-color;
  }

  .ant-menu-horizontal > .ant-menu-item a:not(.rf) {
    color: $primary !important;
    opacity: $high-em;
  }

  .rf {
    color: $light-background-color;
  }

  .ant-timeline-item-head.ant-timeline-item-head-custom.ant-timeline-item-head-blue {
    background: transparent;
  }

  // search bar
  .search-container > div > div {
    background: #fff;
    border: 1px solid #d1d1d1;
  }

  .search-container > div > div > div > div > .ant-row {
    border-bottom: 1px solid #d1d1d1 !important;
  }

  .search-container > div > div > div > ol > a > div {
    color: #737373;
  }

  .search-container > div > div > div > ol > a > div > p > span > mark {
    background: #607ff9;
    color: #fff;
    border-radius: 4px;
    padding: 0.1em !important;
  }

  .navigation {
    background: $top-background;
  }

  .switch-container > label > svg {
    // background: $light-highlighter;
    color: $light-background-color;
  }

  .hamburger-menu {
    // background: $light-highlighter;
    color: $light-background-color;
    font-weight: 300;
  }

  h1,
  h2,
  h3 {
    margin-top: 10vh;
    color: $dark-background-color;
    border-bottom: 0;
  }

  p {
    color: #000 !important;
    font-weight: 300 !important;
    opacity: $high-em;
  }

  li {
    font-weight: 300;
    opacity: 70%;
  }

  // post
  .posts > h1 > a {
    color: $link-hover-color;
  }

  .navigator {
    a {
      background-color: $dark-link-hover-color;
      // border: 1px solid rgba(3, 17, 22, 0.2);
      color: #fff;
    }
  }
}
