// app
$theme-gradient: #002d62;
$top-header-text-color: #fff;

/**
 * @light theme
*/
$primary: #000;
$link-hover-color: #636363;
$light-highlighter: #e5e7eb;

// body
$light-background-color: #fff;
$light-text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);
$light-hover-text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

// // index
$dark-gray: #333;
$blockquote-text-color: #6e7172;
$primary-link-color: #1890ff;
$secondary-text-color: #4b5563;

// // category
$light-category-text-color: #38365d;

// /**
//  * @dark theme
//  */
$dark-background-color: #090a21;
$dark-lightest-font-color: #fff;
$dark-light-font-color: #c5c5c5;
$secondary-dark-link-color: #329cff;
$dark-highlighter: #1f2937;
