.switch-container > label > svg {
  margin-top: 1vh;
  font-size: 2rem;
  padding: 4px;
  margin-left: 4vw;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width: 1075px) {
  .switch-container > label > svg {
    margin-left: 0;
  }
}
