@import '../../styles/variables.scss';
@import '../../styles/light-theme.scss';
@import '../../styles/dark-theme.scss';

.top {
  .ant-menu-item:active,
  .ant-menu-submenu-title:active {
    background: rgba(29, 185, 84, 0.2);
  }
  .ant-menu-item a:hover {
    color: #636363;
  }
  width: 100%;
  margin-top: 2vh;
  .navigation {
    .nav-menu {
      margin-top: 7px;
      font-size: 1.4rem;
      justify-content: space-around;
      a:is(.ff) {
        margin-left: 2vw;
      }
      a {
        margin-left: 2vw;
      }
    }
    ul {
      width: 100%;
    }
    .hamburger-menu {
      margin-left: 4vw;
    }
  }
}

@media (min-width: 0px) {
  .nav-menu {
    display: none;
  }
  .hamburger-menu {
    font-size: 2rem;
    border-radius: 4px;
    margin-top: -2px;
    padding: 4px;
  }
  .search-container {
    display: none;
  }
}

@media (min-width: 168px) {
  .info {
    font-size: 0.7rem;
  }
  .top {
    position: relative;
    width: 100%;
    height: 10vh;
  }
}

@media (min-width: 426px) {
  .top {
    position: relative;
    width: 100%;
    height: 10vh;
  }
}

@media (min-width: 500px) {
  .top {
    width: 100%;
    height: 10vh;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-menu {
    display: block;
  }
}

@media (min-width: 1025px) {
  .top {
    width: 100%;
    height: 10vh;
  }
  .search {
    display: block;
  }
  .navigation {
    .nav-menu {
      font-size: 1.4rem;
      display: flex;
      a:is(.ff) {
        margin-left: 2vw !important;
      }
      a {
        margin-right: 0 !important;
      }
    }
    .hamburger-menu {
      margin-right: 4vw;
    }
  }
}

@media (min-width: 1300px) {
  .top {
    width: 100%;
    height: 10vh;
  }
}
