@import '../../styles/variables.scss';
@import '../../styles/light-theme.scss';
@import '../../styles/dark-theme.scss';

.top {
  width: 100%;
  .link {
    // display: inline-block;
    font-size: 28px;
    padding-top: 8px;
    color: $top-header-text-color;
    opacity: 0.7;
    margin-left: 20px;
    font-family: 'Catamaran';
  }
  .toolbar {
    padding-right: '20vw';
  }
}

@media (min-width: 0px) {
  .nav-menu {
    display: none;
  }
  .hamburger-menu > div {
    font-size: 20px;
  }
  .search {
    display: none;
  }
  .brand {
    font-size: 20px !important;
    font-family: 'Calibre-Regular';
    font-weight: bold;
  }
  .top > div > .ant-col > ul > li {
    font-size: 16px !important;
    font-family: 'Calibre-Regular';
  }
  .top > div > ul > li {
    font-size: 16px !important;
    font-family: 'Calibre-Regular';
    font-weight: bold;
  }
}

@media (min-width: 168px) {
  .info {
    font-size: 0.7rem;
  }
  .top {
    position: relative;
    width: 100%;
    height: 10vh;
  }
  .navigation {
    padding-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (min-width: 400px) {
  .top {
    position: relative;
    width: 100%;
    height: 10vh;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-menu {
    display: block;
  }
}

@media (min-width: 500px) {
  .top {
    width: 100%;
    height: 10vh;
  }
}

@media (min-width: 1075px) {
  .top {
    width: 100%;
    height: 10vh;
  }
  .search {
    display: block;
  }
  .brand {
    font-size: 20px !important;
    font-family: 'Calibre-Regular';
    font-weight: bold;
  }
  .top > div > .ant-col > ul > li {
    font-size: 20px !important;
    font-family: 'Calibre-Regular';
  }
}

@media (min-width: 1300px) {
  .top {
    width: 100%;
    height: 10vh;
  }
  .navigation {
    margin-left: 20vw;
    margin-right: 20vw;
    .brand {
      font-size: 26px !important;
      font-family: 'Calibre-Regular';
      font-weight: bold;
    }
  }
  .top > div > .ant-col > ul > li {
    font-size: 20px !important;
    font-family: 'Calibre-Regular';
  }
}
