@import '../../styles/variables.scss';
@import '../../styles/light-theme.scss';
@import '../../styles/dark-theme.scss';

.top {
  font-family: 'Noto Sans KR' !important;
  width: 100%;
  .link {
    // display: inline-block;
    font-size: 28px;
    padding-top: 8px;
    color: $top-header-text-color;
    opacity: 0.7;
    margin-left: 20px;
    font-family: 'Catamaran';
    font-weight: 800;
  }
  .toolbar {
    padding-right: '20vw';
  }
}

@media (min-width: 168px) {
  .bio {
    font-size: 0.7rem;
  }
  .top {
    position: relative;
    width: 100%;
    height: 40vh;
  }
  .hellohead {
    font-size: 1.8rem !important;
  }
  .toolbar {
    padding-right: '20vw';
  }
  .bio {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 2.4rem;
  }
}

@media (min-width: 168px) {
  .info {
    font-size: 0.7rem;
    font-weight: bold;
  }
  .def {
    font-size: 0.6rem !important;
    font-weight: bold;
  }
  .top {
    position: relative;
    width: 100%;
    height: 32vh;
  }
  .toolbar {
    padding-right: '20vw';
  }
  .switch-container {
    margin-right: 5vw;
  }
  .hello {
    padding-top: 2vh;
    padding-left: 5vw;
  }
  .navigation {
    padding-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (min-width: 258px) {
  .hellohead {
    font-size: 1.8rem !important;
  }
  .info {
    font-size: 1.3rem;
  }
  .def {
    font-size: 1rem !important;
  }
}

@media (min-width: 375px) {
  .hellohead {
    font-size: 3.3rem !important;
  }
  .top {
    position: relative;
    width: 100%;
    height: 35vh;
  }
}

@media (min-width: 500px) {
  .top {
    position: relative;
    width: 100%;
    height: 35vh;
  }
  .bio {
    font-size: 1.4rem;
  }
}

@media (min-width: 1000px) {
  .top {
    position: relative;
    width: 100%;
    height: 30vh;
  }
  .bio {
    font-size: 1.4rem;
  }
}

@media (min-width: 1300px) {
  .top {
    position: relative;
    width: 100%;
    height: 27vh;
  }
  .bio {
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 1.4rem;
  }
  .hello {
    padding-top: 2vh;
    padding-left: 20vw;
  }
  .navigation {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .switch-container {
    margin-right: 20vw;
  }
}
