.footer {
  text-align: center;
  font-size: 12px;
  padding-top:5vh;
  padding-bottom: 2vh;

  a, h3 {
    text-decoration: none !important;
    font-family: Work Sans;
    text-align: center;
  }
}
