.footer {
  text-align: center;
  font-size: 12px;
  padding-top:5vh;
  padding-bottom: 2vh;
}

@media (min-width: 168px) {
  .footer-content {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .leftCol {
    a, h3, h5, h2, h6 {
      text-decoration: none !important;
      text-align: center !important;
    }
  }
  .centerCol {
    text-align: center;
  }
  .rightCol {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .footer-content {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .leftCol {
    a, h3, h5, h2, h6 {
      text-decoration: none !important;
      text-align: left !important;
    }
  }
  .centerCol {
    text-align: center;
  }
  .rightCol {
    text-align: right;
  }
}
