@import '../../styles/variables.scss';

.footer {
  background-color: $theme-gradient;
  padding-top: 20vh;
  color: white;
  margin-top: -10vh;
  text-align: center;
  font-size: 12px;

  a {
    text-decoration: none !important;
  }
}
